.lilsnake-home {
    min-height: 100vh;
    background-color: $bg;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .lilsnake-main {
        margin: 0 auto;
        width: $maxw;
    }
}