.container {
    display: flex;
    
}

.poker,
.poker_top {
    position: absolute;
    width: 200px;
    height: 300px;
    border: 0.15rem solid #fff;
    border-radius: 1.5rem;
    background-color: #ffffff;
    transform-origin: bottom left;
    overflow: hidden;
}

.poker {
    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.poker_top {
    background-color: #fff;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.poker_top:hover {
    background-color: white;
    border: 2px solid rgb(48, 48, 48);
}

.poker1 {
    transform: rotate(-10deg);
}

.poker2 {
    transform: rotate(-6deg) translate(35%, -12%);
}

.poker3 {
    transform: rotate(-2deg) translate(65%, -19%);
}

.poker4 {
    transform: rotate(2deg) translate(95%, -26%);
}

.poker5 {
    transform: rotate(6deg) translate(125%, -23%);
}
.animate {
    .poker1 {
        transition: all 0.3s ease;
        animation: poker1 0.3s ease ;
    }
    
    .poker2 {
        transition: all 0.3s ease;
        animation: poker2 0.3s ease ;
    }
    
    .poker3 {
        transition: all 0.3s ease;
        animation: poker3 0.3s ease ;
    }
    
    .poker4 {
        transition: all 0.3s ease;
        animation: poker4 0.3s ease ;
    }
    

    @keyframes poker1 {
        from {
            transform: rotate(-10deg);
        }
        to {
            transform: rotate(-6deg) translate(35%, -12%);
        }
    }
    @keyframes poker2 {
        from {
            transform: rotate(-6deg) translate(35%, -12%);
        }
        to {
            transform: rotate(-2deg) translate(65%, -19%);
        }
    }
    @keyframes poker3 {
        from {
            transform: rotate(-2deg) translate(65%, -19%);
        }
        to {
            transform: rotate(2deg) translate(95%, -26%);
        }
    }
    @keyframes poker4 {
        from {
            transform: rotate(2deg) translate(95%, -26%);
        }
        to {
            transform: rotate(6deg) translate(125%, -23%);
        }
    }
    @keyframes poker5 {
        from {
            transform: rotate(6deg) translate(125%, -23%);
        }
        to {
            transform: rotate(-10deg);
        }
    }

}