.timeline {
    width: 100%;
    min-height:100vh ;
    border-radius: 7px;
    background-color: white;

    .content {
        width: 100%;
        min-height: 100vh;
        padding: 60px 35px;
    }
}