.mask {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100vh;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    overflow: hidden;

    .dialog {
        position: fixed;
        border: none;
        box-shadow: $navbox-shadow;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 7px;
        padding: 17px 20px;
        transition: all 0.5s ease;
        animation: dialogOpen 0.3s ease;
 
        @keyframes dialogOpen {
            from {
                opacity: 0;
                transform:scale(0.1);
            }
            to {
                opacity: 1;
                transform:scale(1);
            }
        }

        .close {
            position: absolute;
            top:17px;
            right:20px;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: inherit;
            border: none;
            cursor: pointer;
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: inherit;
                border: none;
                transition: all 0.3s ease;
                &:hover {
                    color: gray;
                }
                &::before {
                    font-size: 20px;
                    content: '✖';

                }
            }
        }
        .title {
            margin-bottom: 10px;
            span {
                font-size: 30px;
                font-weight: bold;
                color: $btnhover;
            }
        }
    }
}