.search {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    .main {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .searchbar {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            border: none;
            border: 1px solid #ccc;
            outline: none;
            padding-left: 20px;
        }

        .line {
            display: flex;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff,
                    #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff,
                    #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff,
                    #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff, #ccc, #fff, );
        }

        .result {
            opacity: 0;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            transform-origin: top;
            min-height: 100px;
            max-height: 400px;
            overflow: auto;
            border-radius: 5px;
            background-color: rgb(128, 128, 128, .2);
            transition: all 0.5s ease;
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;

            .search-item1 {
                width: 100%;
                min-height: 80px;
                font-size: 16x;
                border-bottom: 1px solid #e4e4e4;
                cursor: pointer;
                color: white;
                font-weight: bold;
                padding: 10px;
                overflow: hidden;
                display: flex;
                gap: 10px;
                &:hover {
                    background-color: rgb(128, 128, 128, .3);
                }
                h3 {
                    white-space: nowrap;
                }
                p {
                    font-size: 14px;
                    font-weight: 400;
                }
                &::before {
                    content: '📑';
                }
            }

            /* 定义滚动条轨道（track）的样式 */
            &::-webkit-scrollbar {
                width: 10px;
                position: relative;
                /* 滚动条的宽度 */

            }

            /* 定义滚动条滑块（thumb）的样式 */
            &::-webkit-scrollbar-thumb {
                background-color: inherit;
                /* 滑块的颜色 */
                border-radius: 5px;
                /* 滑块的圆角 */
            }

            /* 定义滚动条轨道两端按钮（track buttons）的样式 */
            &::-webkit-scrollbar-button {
                background-color: inherit;
                height: 5px;
                border-radius: 2px;
    
            }

            /* 定义滚动条边缘（corner）的样式 */
            &::-webkit-scrollbar-corner {
                background-color: #ccc;
            }

            /* 定义滚动条边框（track border）的样式 */
            &::-webkit-scrollbar-track {
                background-color: inherit;
                /* 滚动条轨道的颜色 */
            }

            /* 当鼠标悬停在滑块上时的样式 */
            &::-webkit-scrollbar-thumb:hover {
                background-color: rgb(255, 255, 255);
            }
        }
    }

}